// Here you can add other styles

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&subset=vietnamese');

body{
  font-family: 'Roboto', sans-serif;
}

.btn-trio{
  background:#CF9D48 ;
  border:1px solid #CF9D48;
  color:#fff
}
.btn-trio:hover{
  background: #666;
  border:1px solid #666;
  color: #fff
}

.mr-5{ margin-right: 5px;}


/*
MODAL
*/


.modal-dialog{ border: 1px solid rgba(0,0,0,0.1) !important }
.modal-lg{ width: 80% !important}
.modal-header{
  height: 50px !important; border-bottom: 1px solid rgba(0,0,0,0.1); background: #F0F3F5;
}
.modal-header h5.modal-title{ height: 50px !important; line-height: 16px; font-size: 15px !important; }
.modal-header button{ height: 50px !important; line-height: 16px;}
.modal-body{ font-size: 16px !important}


/* DATA GRID*/

@mixin scrollbar($size: 6px, $color: $xl-cool-grey-4-40) {
    overflow: auto;

    &::-webkit-scrollbar {
        width: $size * 2;
    }

    &::-webkit-scrollbar-track,
    &::-webkit-scrollbar-thumb {
        border-radius: $size;
    }

    &::-webkit-scrollbar-thumb {
        background-clip: padding-box;
        background-color: $color;
        border: $size / 2 solid transparent;
        min-height: 50px;
    }

    &::-webkit-scrollbar:horizontal {
        height: $size * 2;
    }
}


.ag-row-hover {
    /* putting in !important so it overrides the theme's styling as it hovers the row also */
    background-color: #dfdfff !important;
}

/*.ag-column-hover {
    background-color: #dfffdf;
}*/
/* END DATA GRID*/
